.fy_id_mb {
  margin-bottom: 0px;
}
.tdml {
  margin-left: 2%;
}
.paddingright10px {
  padding-right: 10px;
}
.cashflowamnt_borde {
  border: solid 2px #000;
}
.balancesheet_style{
    margin-left: 2%
}
